* {
    font-family: Arial, Helvetica, sans-serif;
}

html {
    background-color: rgb(241, 215, 202);
}

.title {
    background-color: brown;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: yellow;
    box-shadow: 10px 10px 20px rgb(246, 127, 127);
    padding: 30px;
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
}

.container {
    box-sizing: border-box;
    border-radius: 25px;
    background-color: white;
    padding: 10px 20px;
    margin: 20px;
    font-size: 18px;
    max-width: fit-content;
}

#desc {
    background-color: rgb(243, 243, 122);
    border-radius: 25px;
    padding: 10px 20px;
    margin: -10px -20px;
    max-height: 200px;
}

#desc .text {
    display: inline-block;
    color: brown;
    max-width: 30%;
    vertical-align: top;
    max-height: 200px;
}

#desc .text .description {
    text-wrap: balance;
}

#desc .img {
    display: inline-block;
    vertical-align: top;
    border-radius: 25px;
    padding-right: 20px;
}

img {
    border-radius: 25px;
}

#list-one-1, #list-one-2, .part-one, .part-two, #ingredients, #list-two, #steps {
    background-color: antiquewhite;
    color: chocolate;
    padding-top: 10px;
    padding-bottom: 10px;
}

.part-one, #list-two {
    margin-top: 0;
}

#ingredients, #steps, .part-one, .part-two{
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: -25px;
}

#ingredients, #steps {
    display: inline-block;
}

#list-one-1 {
    margin-bottom: -25px;
}

.homepage {
    background-color: yellow;
    margin: 10px auto;
    padding: 5px 20px 5px;
}

.homepage a {
    text-decoration: none;
    color: brown;
}