#desc .text {
    max-width: 30%;
}

#list-one-1, #list-one-2, .part-one, .part-two, #ingredients, #list-two, #steps {
    background-color: antiquewhite;
    color: chocolate;
    padding-top: 10px;
    padding-bottom: 10px;
}

.part-one, #list-two {
    margin-top: 0;
}

#ingredients, #steps, .part-one, .part-two{
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: -25px;
}

#ingredients, #steps {
    display: inline-block;
}

#list-one-1 {
    margin-bottom: -25px;
}